### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [23]:
#Finding the total number of players
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
#Finding the number of unique items, average price, etc.
number_of_unique_items=len((purchase_data["Item ID"]).unique())
average_price=(purchase_data["Price"]).mean()
number_of_purchases=(purchase_data["Purchase ID"]).count()
total_revenue=(purchase_data["Price"]).sum()
#Setting a dataframe to show findings
purchasing_analysis=pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                                "Average Price":[average_price],
                                "Number of Purchases":[number_of_purchases],
                                "Total Revenue":[total_revenue]})
purchasing_analysis['Average Price']=purchasing_analysis['Average Price'].map('${:,.2f}'.format)
purchasing_analysis['Total Revenue']=purchasing_analysis['Total Revenue'].map('${:,.2f}'.format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
#Finding the gender demographic information
demo=purchase_data.loc[:,["Gender","SN","Age"]]
demo=demo.drop_duplicates()
totals=demo["Gender"].value_counts()
percents=totals/total_players
#Setting the information to a dataframe
gender_demographics=pd.DataFrame({"Total Count":totals,
                                 "Percentage of Players":percents})
gender_demographics["Percentage of Players"]=gender_demographics["Percentage of Players"].map('{:,.2%}'.format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#Calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_purchase=purchase_data.groupby(['Gender']).sum()['Price']
purchase_count=purchase_data.groupby(['Gender']).count()['Price']
avg_purchase=purchase_data.groupby(['Gender']).mean()['Price']
avg_total=gender_purchase/gender_demographics["Total Count"]
#Setting the calculations to dataframe
purchasing_analysis_gender=pd.DataFrame({"Purchase Count":purchase_count,
                                         "Average Purchase Price":avg_purchase,
                                         "Total Purchase Value":gender_purchase,
                                         "Avg Total Purchase per Person":avg_total})
purchasing_analysis_gender['Average Purchase Price']=purchasing_analysis_gender['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis_gender["Total Purchase Value"]=purchasing_analysis_gender["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_gender["Avg Total Purchase per Person"]=purchasing_analysis_gender["Avg Total Purchase per Person"].map('${:,.2f}'.format)

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
#Setting the bins for the age groups
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorizing the players by bins using cut
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=age_group)
#Making the groupby for the age groups
grouped_ages=purchase_data.groupby("Age Group")
#Calculations
age_total_count=grouped_ages["SN"].nunique()
age_percentage=age_total_count/total_players
#Setting information to dataframe
age_demographics=pd.DataFrame({"Total Count":age_total_count,
                              "Percentage of Players":age_percentage})
#Percentage formatting
age_demographics["Percentage of Players"]=age_demographics["Percentage of Players"].map('{:,.2%}'.format)
age_demographics

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
#Calcualtions to obtain purchase count, avg. purchase price, avg. purchase total per person etc.
age_purchase_count=(grouped_ages["Purchase ID"]).count()
avg_purchase_price=(grouped_ages["Price"]).mean()
total_purchase_value=(grouped_ages["Price"]).sum()
avg_total_ppp=total_purchase_value/age_total_count
#Setting information into data
age_purchasing_analysis=pd.DataFrame({"Purchase Count":age_purchase_count,
                                     "Average Purchase Price":avg_purchase_price,
                                     "Total Purchase Value":total_purchase_value,
                                     "Avg Total Purchase per Person":avg_total_ppp})
#Setting currency formatting to values on the dataframe
age_purchasing_analysis["Average Purchase Price"]=age_purchasing_analysis["Average Purchase Price"].map('${:,.2f}'.format)
age_purchasing_analysis["Total Purchase Value"]=age_purchasing_analysis["Total Purchase Value"].map('${:,.2f}'.format)
age_purchasing_analysis["Avg Total Purchase per Person"]=age_purchasing_analysis["Avg Total Purchase per Person"].map('${:,.2f}'.format)
age_purchasing_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
#Groupby for the players
spenders=purchase_data.groupby(['SN'])
#Calculations to find top spender info
top_count=(spenders['Purchase ID']).count()
top_avg=(spenders['Price']).mean()
top_value=(spenders['Price']).sum()
#Setting information to dataframe
top_spenders=pd.DataFrame({"Purchase Count":top_count,
                          "Average Purchase Price":top_avg,
                          "Total Purchase Value":top_value})
#Formatting values to have the highest spenders first 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False)
#Setting currency formatting to values on the dataframe
formatted_spenders["Average Purchase Price"]=formatted_spenders["Average Purchase Price"].map('${:,.2f}'.format)
formatted_spenders["Total Purchase Value"]=formatted_spenders["Total Purchase Value"].map('${:,.2f}'.format)
formatted_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
#Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]
# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count() 
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item
# Setting information to dataframe
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
# Sort in descending order to obtain top spender names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
# Sorting by total purchase value in descending order
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [ ]:
#3 Trends I have observed that majority of the gamers are male due to having over 80% of the population.
# However women to spend on average a little bit more than the male players. 
# Majority of the players are in their early 20s. 
# Average prices of items in the video games are between $2-$5 (usually a little over $4)